<!DOCTYPE html>

<html  lang ="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title>Cookie Order Form</title>
        <!--/*/ <th:block th:include="fragments/fragments.html :: headerfiles"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <h1 th:text="${message} " class="text-center"></h1>
            <form action="#" th:action="@{/orderrequest}" th:object = "${orderRequest}">
                <div class="form-group">
                    <label for="customerName" class="font-weight-bold">Your Name:</label>
                    <input type ="text" class="form-control" name="customerName" th:field ="*{customerName}"/> <br/>
                    <label for="customerEmail" class="font-weight-bold">Your Email:</label>
                    <input type ="text"  name="customerEmail" class="form-control" th:field ="*{customerEmail}"/> <br/>
                </div>
                <div class="form-group">
                    <label for="recipientName" class="font-weight-bold">Name of the Person who's day you are about to make wonderful</label>
                    <input type ="text" class="form-control" name ="recipientName" 
                           th:field ="*{recipientName}"/> <br/>
                    <label for="recipientStreetAddress" class="font-weight-bold">Street Address:</label>
                    <input type ="text" class="form-control" name = "recipientStreetAddress" 
                           th:field ="*{recipientStreetAddress}"/> <br/>
                    <label for="recipientCity" class="font-weight-bold">City:</label>
                    <input type ="text" class="form-control" name = "recipientCity" th:field ="*{recipientCity}"/> <br/>
                    <label for="recipientCode" class="font-weight-bold">Postal/Zip Code:</label>
                    <input type ="text" class="form-control" name ="recipientCode" th:field ="*{recipientCode}"/> <br/>
                    <label for="recipientCountry" class="font-weight-bold">Country:</label>
                    <input type ="text" name="recipientCountry" class="form-control" th:field ="*{recipientCountry}"/> <br/>
                </div><!-- comment -->
                <div class="form-group">
                    <label for="cookieMessage" class="font-weight-bold">Message on cookie:</label>
                    <input type ="text" class="form-control" th:field ="*{cookieMessage}"/> <br/>
                    <label for="deliveryDate" class="font-weight-bold">Date to deliver:</label>
                    <input type="date"  th:field ="*{deliveryDate}"/>
                    <input type ="submit" value ="Order"/>
                </div>
            </form>
        </div>
        <!--<a th:replace ="fragments/fragments.html :: bootstrapstuff "></a>-->
    </body>
</html>
