<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th ="http://www.thymeleaf.org">
    <head>
        <title>Payment</title>
        <!--        <meta charset="UTF-8">-->
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>
        <div>
            <h2  th:text = "${response.returnMessageToUser}">...</h2>

            This page is the payment page and will be completed during the AcceptPayment use case

            <form action="#" th:action="@{/}" >
                <input type ="submit" value ="Return to Landing Page"/>
            </form>
        </div>
    </body>
</html>
